body,html {
   margin-top: 0px;
   padding-top:0px;
   margin-left: 0px;
   margin-right: 0px;
}
.nav {
    background-color: #c08cf3;
    padding: 10px;
}

.nav a{
    color: white;
    float: left;
    margin-right: 60px;
    

}


.image{
    
    
}
.img1{
    
   
    
}
.img2{
  

}

.box2{
    position: absolute;
    top:280px;
    border: solid 20px  #efe0fa;
    padding: 40px 60px 40px 60px;
}
.box1{
 
}
p{
    margin-left: 20px;
    font-size: 25px;
}

.pos1{
    position: absolute;
    top: auto;
    left: auto;
    border: solid 1px black;
}
.pos2{
    position: absolute;
    top:auto;
    left: 300px;
    margin-left: 100px;
    border: solid 1px black;
}
.pos3{
    position: absolute;
    top: auto;
    right: auto;
    left: 600px;
    margin-left: 180px;
    border: solid 1px black;
}


.edit{
  
    width: 200px;
    height: 200px;
    margin-left: 120px;
    margin-right: 120px;
    border: solid 5px black;

}
.container {
     position: relative;
     top: 100px;
     left: 0px;
     float: right;
     margin-top: 30px;
     object-position: center;

  }
  .another-container{
    position: relative;
    top: 1000px;
    left: 100px;
}
 
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 135px;
    right: 0;
    height: 200px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color:#806c93;
  }
 
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0px;
  }


